:root {
  --game-width: 600px;
}

* {
  font-family: "Space Mono", monospace !important;
}

body {
  min-height: 100vh;
  background-color: hsl(0, 0%, 7%);
}

.custom-title {
  border-bottom: 1px solid white;
  height: 80px;
}

.custom-squirtle-image-left,
.custom-squirtle-image-right {
  position: relative;
  top: -5px;
  width: 128px;
}

.custom-squirtle-image-left {
  margin-right: -20px;
}

.custom-squirtle-image-right {
  margin-left: -20px;
}

.custom-navbar-icon {
  color: #ddd;
}

.custom-navbar-icon:hover {
  color: #999;
}

.custom-cursor {
  cursor: pointer;
}

.custom-cursor:hover {
  color: #999;
}

.custom-info-modal {
  z-index: 1000;
}

.custom-info-modal-header {
  min-height: 80px;
  overflow: hidden;
}

.custom-prof-oak {
  position: absolute;
  width: 180px;
  top: 10%;
  left: -80px;
}

.custom-info-title {
  padding-left: 50px;
  font-size: 1.15rem !important;
}

.custom-delete-button {
  position: absolute !important;
  right: 1.3rem !important;
}

.instructions-example-div {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 1em;
  padding-bottom: 1em;
}

.custom-game-example {
  /* width: 95%; */
}

.custom-game-example img {
  border-radius: 0.5em;
}

.custom-info-modal li {
  padding-bottom: 1em;
}

.custom-card-size {
  width: var(--game-width);
}

.custom-card-image {
  max-height: calc(var(--game-width) * (9 / 16));

  overflow-y: scroll;
  border-bottom: 1px solid black;

  cursor: s-resize;
  cursor: pointer;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.custom-card-image::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.custom-sprite-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

.custom-pokedex-title {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #ddd;
  width: 100%;
  text-align: center;
}

.custom-pokedex-title-img {
  width: 20%;
  padding-top: 0.8em;
}

.custom-sprite-gallery-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.custom-sprite-filtered {
  opacity: 0.1;
}

.custom-sprite-unfiltered {
  opacity: 0.7;
}

.custom-sprite-unfiltered:hover {
  opacity: 1;
}

.custom-input-area {
  background-color: #ddd !important;
}

.custom-start-btn {
  background-color: #dc1613 !important;
  color: white !important;
}

.custom-pokeball {
  height: 20px;
}

.custom-error-message {
  background-color: #dc1613 !important;
  color: white;
  position: absolute !important;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.custom-game-over {
  background-color: hsl(0, 0%, 7%) !important;
  color: white;
  position: absolute !important;
  top: 0.1em;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  left: 50%;
  width: 50% !important;

  transform: translateX(-50%);
  padding-right: 24px !important;

  text-align: center !important;
  transition: transform 300ms;
}

.custom-answer-attack {
  background-color: hsl(0, 0%, 7%) !important;
  color: white;
  position: absolute !important;
  bottom: 50%;
  left: 50%;
  width: 50% !important;

  transform: translateX(-50%);
  padding-right: 24px !important;

  text-align: center !important;
}

.custom-statistics-title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.custom-quick-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.custom-quick-stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-quick-stats div p:first-child {
  font-size: 2rem;
  margin-bottom: 0;
}

.custom-quick-stats div p:last-child {
  font-size: 0.7rem;
}

.custom-distribution-title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 2rem;
}

.custom-distribution-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.custom-dist-guess-container {
  display: flex;
  gap: 0.3rem;
}

.custom-dist-bar {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5em;
  border: 1px solid white;
  background-color: #888;
}

.custom-dist-bar-current {
  background-color: #dc1613;
}

.custom-share-div {
  width: 80%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  margin-top: 3rem;
}

.custom-countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.custom-countdown p {
  font-size: 1rem;
  margin-bottom: 0.5em !important;
  font-weight: bold;
  text-transform: uppercase;
}

.custom-share-div-border {
  height: 64px;
  border-right: 1px solid white;
}

.custom-copy-stats-message {
  background-color: hsl(0, 0%, 7%) !important;
  color: white;
  position: absolute !important;
  top: 0em;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 24px !important;

  text-align: center !important;
}

.custom-flip-animation {
  transform: translateX(-50%) rotateX(90deg);
}

.custom-input-container {
  position: relative;
}

.custom-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-search-filter {
  position: absolute !important;
  max-height: 200px;
  width: 100%;
  bottom: 40px;

  overflow-y: hidden;
  /* overflow-y: scroll; */
}

.custom-filter-suggestion-item-button {
  display: flex;
  flex-direction: column;
  width: 100%;

  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.custom-filter-suggestion-item-button:focus,
.custom-filter-suggestion-item-button:hover {
  background-color: #ddd;
}

.custom-filtered-text {
  opacity: 0.4;
}

.custom-guess-text {
  font-size: 0.8rem;
}

.custom-sprite-img {
  position: absolute;
  width: 35%;
  left: 12%;
  top: 20%;
  z-index: 1;
}

.custom-start-img {
  position: absolute !important;
  width: 25%;
  left: 16%;
  top: 25%;
  font-size: 1.2rem;

  z-index: 1;
}

.custom-start-text {
  background-color: transparent;
  border: none;
  color: black;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

.custom-start-img p {
  position: relative;
  text-align: center;
  top: 50px;
  color: white;
  font-weight: bold;
}

.custom-start-img:hover {
  cursor: pointer;
  width: 30%;
  transform-origin: (50%);
  transform: rotate(20deg) translate(-10%, -8%);
  font-size: 1.4rem;
}

.custom-modes-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.custom-mode-header {
  text-align: center;
  margin-bottom: 0 !important;
  font-size: 1.2rem;
}

.custom-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.custom-mode-descr-div {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.custom-mode-title {
  font-size: 1.1rem;
  margin-bottom: 0 !important;
}

.custom-mode-descr {
  font-size: 0.7rem;
  color: #ccc;
}

@media screen and (max-width: 500px) {
  .custom-type-text {
    display: inline-block;
    max-width: 4ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 700px) {
  .custom-squirtle-image-left,
  .custom-squirtle-image-right {
    display: none !important;
  }

  .custom-card-size {
    width: 95vw;
  }

  .custom-card-image {
    max-height: calc(95vw * (9 / 16) + 100px);
    /* max-height: calc(95vw * (9 / 16)); */
  }

  .custom-start-text {
    font-size: 0.7rem;
  }

  .custom-game-over {
    width: 90% !important;
    padding: 0.25em 0.25em !important;
  }

  .custom-answer-attack {
    width: 90% !important;
  }

  .custom-title {
    height: auto;
  }

  .custom-title-img {
    width: 120px;
  }

  .custom-title-game-on-mobile {
    min-height: 0px !important;
    height: 1px !important;
    border-bottom: none;
  }

  .custom-title-img-game-on-mobile {
    display: none !important;
  }
}
