/* Bulma.io CSS framework used for the majority of the CSS. !important rules are used to override bulma styling*/

:root {
  --game-width: 600px;
}

* {
  font-family: "Space Mono", monospace !important;
}

body {
  min-height: 100vh;
  background-color: hsl(0, 0%, 7%);
}

.custom-login-sprite {
  margin: -1rem -1rem;
}

.custom-signup-sprite {
  margin: -1rem -1rem;
  cursor: pointer;
  opacity: 30%;
}

.custom-signup-sprite:hover {
  opacity: 80%;
}

.custom-signup-sprite-starter {
  opacity: 100%;
}

.custom-signup-sprite-container {
  margin-bottom: -0.5rem;
}

.custom-forgot-password-sprite {
  width: 30px;
  margin-right: 1rem;
}

.custom-profile {
  background-color: #ddd;
  margin-left: 0.5em;
  width: 50px;
  height: 50px;
  border: 2px solid #dc1613;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  background-size: 75px;
  background-position: center;
}

.custom-profile:hover {
  opacity: 50%;
}

.custom-profile-modal-pic-container {
  position: relative;
}

.custom-profile-modal-pic {
  background-color: white;
  background-color: #ddd;

  margin-left: 0.5em;
  width: 100px;
  height: 100px;
  border: 2px solid #dc1613;
  border-radius: 50%;
  /* cursor: pointer; */
  overflow: hidden;
  background-size: 150px;
  background-position: center;
}

.custom-change-profile-icon {
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  color: black !important;
  position: absolute;
  bottom: -0.25em;
  right: 0.25em;
}

.custom-change-profile-icon:hover {
  cursor: pointer;
  color: #dc1613 !important;
}

.custom-change-profile-pic-button {
  font-size: 0.7rem !important;
  background-color: transparent !important;
  border: none !important;
  text-decoration: underline;
  color: #222 !important;
}

@keyframes drop-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.custom-title {
  border-bottom: 1px solid white;
  height: 80px;

  /* animation */
  animation-name: drop-down;
  animation-duration: 300ms;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in;
}

.custom-squirtle-image-left,
.custom-squirtle-image-right {
  position: relative;
  top: -5px;
  width: 128px;
  /* width: 50px; */
  /* margin: 0 10px; */
}

.custom-squirtle-image-left {
  margin-right: -20px;
}

.custom-squirtle-image-right {
  margin-left: -20px;
}

.custom-reveal-animation {
  animation: info-reveal 100ms ease-in;
}

@keyframes info-reveal {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.custom-navbar-icon {
  cursor: pointer;
  color: #ddd;
}

.custom-navbar-icon:hover {
  color: #999;
}

.custom-language-button {
  background-color: transparent !important;
  border: none !important;
  padding-left: 0.8em !important;
}

.custom-language-button-instr {
  padding-left: 0.5em !important;
  padding-bottom: 1em !important;
}

.custom-language-button:focus {
  border: none !important;
  box-shadow: none !important;
}

.custom-language-menu {
  min-width: 100px !important;
}

.custom-language-menu-instr {
  margin-top: -0.5em;
}

.custom-cursor {
  cursor: pointer;
}

.custom-cursor:hover {
  color: #999;
}

.custom-source-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1em;
}

.custom-pokeball-bullet {
  width: 5%;
}

.custom-btc-img {
  width: 50px;
  padding-right: 0.5em;
}

.custom-btc-img-footer {
  width: 14px;
}

.custom-text-orange {
  color: hsl(32, 93%, 53%);
}

.custom-btc-qr {
  width: 150px;
}

.custom-info-modal {
  z-index: 1000;
}

.custom-info-modal-header {
  min-height: 80px;
  overflow: hidden;
}

.custom-prof-oak {
  position: absolute;
  width: 180px;
  top: 10%;
  left: -80px;
}

.custom-info-title {
  padding-left: 50px;
  font-size: 1.15rem !important;
}

.custom-delete-button {
  position: absolute !important;
  right: 1.3rem !important;
}

.instructions-example-div {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 1em;
  padding-bottom: 1em;
}

.custom-game-example {
  /* width: 95%; */
}

.custom-game-example img {
  border-radius: 0.5em;
}

.custom-info-modal li {
  padding-bottom: 1em;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.custom-game-container {
  /* animation */
  animation: slide-up 200ms ease-in 500ms;
  animation-fill-mode: backwards;
}

.custom-footer {
  /* animation */
  animation: slide-up 200ms ease-in 500ms;
  animation-fill-mode: backwards;
}

.custom-card-size {
  width: var(--game-width);
}

.custom-card-image {
  max-height: calc(var(--game-width) * (9 / 16));

  overflow-y: scroll;
  border-bottom: 1px solid black;

  cursor: s-resize;
  cursor: pointer;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.custom-card-image::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.custom-sprite-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

.custom-pokedex-title {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #ddd;
  width: 100%;
  text-align: center;
}

.custom-pokedex-title-img {
  width: 20%;
  padding-top: 0.8em;
}

.custom-sprite-gallery-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.custom-sprite-filtered {
  opacity: 0.1;
}

.custom-sprite-filtered:hover {
  opacity: 0.5;
}

.custom-sprite-unfiltered {
  opacity: 1;
}

.custom-sprite-unfiltered:hover {
  opacity: 0.7;
}

.custom-input-area {
  background-color: #ddd !important;
  position: relative;
}

.custom-evc-info-icon {
  padding-left: 0.1rem;
}

.custom-evc-modal-content {
  /* font: inherit; */
  font-family: "Space Mono", monospace !important;

  font-size: 0.8rem;
  max-width: 80vw;
  min-width: 300px;
}

.custom-start-btn {
  background-color: #dc1613 !important;
  color: white !important;
}

.custom-pokeball {
  width: 20px;
}

.custom-error-message {
  background-color: #dc1613 !important;
  color: white;
  position: absolute !important;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.custom-game-over {
  background-color: hsl(0, 0%, 7%) !important;
  color: white;
  position: absolute !important;
  top: 0.1em;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  left: 50%;
  width: 50% !important;

  transform: translateX(-50%);
  padding-right: 24px !important;

  text-align: center !important;
  transition: transform 300ms;
}

.custom-answer-attack {
  position: absolute !important;
  background-color: hsl(0, 0%, 7%) !important;
  color: white;
  top: 30%;
  left: 50%;
  width: 50% !important;

  transform: translate(-50%, -30%);
  padding-right: 24px !important;

  text-align: center !important;
  overflow: hidden;
}

.custom-answer-attack::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  width: 100%;
  background-color: red !important;
  animation: countdown 3s linear infinite;
}

@keyframes countdown {
  100% {
    width: 0;
  }
}

.custom-statistics-title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem !important;
  font-size: 0.9rem;
}

.custom-quick-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.custom-quick-stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-quick-stats div p:first-child {
  font-size: 2rem;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.custom-quick-stats div p:last-child {
  font-size: 0.7rem;
}

.custom-gym-badge-div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.custom-gym-badge {
  width: 10%;
  cursor: pointer;
}

.custom-badge-locked {
  opacity: 0.15;
}

.custom-badge-locked:hover {
  opacity: 0.4;
}

.custom-badge-unlocked {
  opacity: 1;
}

.custom-badge-unlocked:hover {
  opacity: 0.7;
}

.custom-badge-modal-locked {
  opacity: 0.15;
}

.custom-badge-modal-unlocked {
  opacity: 1;
}

.custom-badge-header {
  display: flex;
  justify-content: space-between;
}

.custom-badge-title {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.custom-badge-info-img {
  width: 4em;
}

.custom-badge-content {
  max-width: 80vw;
  min-width: 300px;
}

.custom-distribution-title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem !important;
  font-size: 0.9rem;
}

.custom-distribution-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 0.9rem;
}

.custom-dist-guess-container {
  display: flex;
  gap: 0.3rem;
}

.custom-dist-bar {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5em;
  border: 1px solid white;
  background-color: #888;
}

.custom-dist-bar-current {
  background-color: #dc1613;
}

.custom-share-div {
  width: 80%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  margin-top: 1em !important;
}

.custom-countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 2rem; */
  font-size: 1.5rem;
}

.custom-countdown p {
  /* font-size: 1rem; */
  font-size: 0.9rem;

  margin-bottom: 0em !important;
  font-weight: bold;
  text-transform: uppercase;
}

.custom-share-div-border {
  height: 50px;
  border-right: 1px solid white;
}

.custom-copy-stats-message {
  background-color: hsl(0, 0%, 7%) !important;
  color: white;
  position: absolute !important;
  top: 50%;
  /* bottom: 20em; */
  left: 50%;
  transform: translateX(-50%);
  padding-right: 24px !important;

  text-align: center !important;
  /* font-size: 0.9rem !important; */
}

.custom-flip-animation {
  transform: translateX(-50%) rotateX(90deg);
}

.custom-guess-text {
  font-size: 0.8rem;
}

.custom-input-container {
  position: relative;
}

.custom-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-search-filter {
  position: absolute !important;
  max-height: 200px;
  width: 100%;
  bottom: 40px;

  overflow-y: hidden;
  /* overflow-y: scroll; */
}

.custom-filter-suggestion-item-button {
  display: flex;
  flex-direction: column;
  width: 100%;

  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.custom-filter-suggestion-item-button:focus,
.custom-filter-suggestion-item-button:hover {
  background-color: #ddd;
}

.custom-filtered-text {
  opacity: 0.4;
}

.custom-sprite-img {
  position: absolute;
  z-index: 1;

  /* for non-animated sprite */
  /* animation: float infinite 3s ease-in-out; */
  /* width: 35%; */
  /* left: 12%; */
  /* top: 20%; */

  /* for animated sprite */
  width: 20%;
  left: 18%;
  top: 35%;
}

@keyframes float {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(10deg);
  }
  6% {
    transform: rotate(0deg);
  }
  9% {
    transform: rotate(10deg);
  }
  12% {
    transform: rotate(0deg);
  }
}

.custom-start-img {
  position: absolute !important;
  width: 25%;
  left: 16%;
  top: 30%;
  font-size: 1.2em;

  cursor: pointer;

  z-index: 1;

  /* animation */
  /* animation: float infinite 3s ease-in-out; */
  animation: shake 5s infinite;
}

.custom-start-text {
  background-color: transparent;
  border: none;
  color: black;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 80%;

  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

.custom-start-img p {
  position: relative;
  text-align: center;
  top: 50px;
  color: white;
  font-weight: bold;
}

/* .custom-start-img:hover {
  cursor: pointer;
  width: 30%;
  transform-origin: (50%);
  transform: rotate(20deg) translate(-10%, -8%);

} */

.custom-modes-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.custom-mode-header {
  text-align: center;
  margin-bottom: 0 !important;
  font-size: 1.2rem;
}

.custom-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.custom-mode-descr-div {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.custom-mode-title {
  font-size: 1.1rem;
  margin-bottom: 0 !important;
}

.custom-mode-descr {
  font-size: 0.7rem;
  color: #ccc;
}

.custom-pokedex-open-btn {
  background-color: #dc1613 !important;
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.75rem !important;
  /* padding: 0 !import; */
  font-size: 0.9rem !important;
}

.custom-pokedex-open-btn:hover {
  background-color: hsl(1, 84%, 37%) !important;
}

.custom-pokedex-stats-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--game-width);
  display: flex;
  justify-content: center;
  /* width: 200px; */
  z-index: 100000;
  margin: auto !important;
}

.custom-stats-pokedex-gallery {
  display: inline-block;
  --gallery-width: 50%;
  position: absolute !important;
  left: 40%;
  transform: translateX(-40%);
  top: 27.5%;
  width: var(--gallery-width);
  height: calc(var(--gallery-width) / 1.84);
  border-radius: 0.8em;
  /* background-color: #c0d9ad; */
  /* border: 2px solid black; */
  /* background-color: transparent; */
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.custom-stats-pokedex-gallery::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.custom-pokedex-stats-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 22%;
  bottom: 12%;
  font-size: 0.8rem;
  /* border: 1px solid black; */
  --info-width: 30%;
  width: var(--info-width);
  height: calc(var(--info-width) / 2.5);
}

.custom-stats-pokedex-types {
  display: flex;
  gap: 0.5em;
}

.custom-stats-pokedex-counter {
  position: absolute;
  top: 23.5%;
  left: 60%;
  font-weight: bold;
  font-size: 0.9rem;
}

.custom-pokedex-close {
  z-index: 1000000;
}

.custom-heart {
  position: relative;
  top: 0.25em;
  margin-right: 0.25em;
  width: 0.9rem;
}

.custom-coffee {
  position: relative;
  width: 0.8rem;
}

.custom-buy-coffee-link {
  border-bottom: 1px solid white;
}

.custom-bug-report {
  position: relative;
  width: 4rem;
  top: 1rem;
}

.custom-submit-bug-btn {
  background-color: #dc1613 !important;
}

.custom-cancel-bug-btn {
  color: #dc1613 !important;
}

@media screen and (max-width: 500px) {
  .custom-type-text {
    text-transform: capitalize;
  }

  .custom-intruction-text {
    font-size: 0.85rem;
  }

  .custom-language-button-instr {
    font-size: 0.85rem !important;
  }

  .custom-game-example {
    position: relative !important;
    width: 100%;
    left: -7.5%;
    /* left: -2.25em; */
  }

  .custom-input-area {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
  }

  .custom-guess-text {
    font-size: 0.55rem;
  }
}

@media screen and (max-width: 700px) {
  .custom-squirtle-image-left,
  .custom-squirtle-image-right {
    /* width: 50px; */
    /* top: -2px; */
    display: none !important;
  }

  .custom-card-size {
    width: 95vw;
  }

  .custom-card-image {
    max-height: calc(95vw * (9 / 16) + 100px);
    /* max-height: calc(95vw * (9 / 16)); */
  }

  .custom-start-text {
    /* font-size: 0.7rem; */
    font-size: 50%;
  }

  .custom-game-over {
    width: 90% !important;
    padding: 0.25em 0.25em !important;
  }

  .custom-answer-attack {
    width: 90% !important;
  }

  .custom-title {
    height: auto;
  }

  .custom-title-img {
    width: 120px;
  }

  .custom-title-game-on-mobile {
    min-height: 0px !important;
    height: 1px !important;
    border-bottom: none;
  }

  .custom-title-img-game-on-mobile {
    display: none !important;
  }

  .custom-badge-info-img {
    width: 2.5em;
  }

  .custom-stats-footer {
    font-size: 0.8rem;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
  }

  .custom-share-div {
    margin-top: 1em !important;
  }

  .custom-pokedex-stats-div {
    width: 115vw;
  }

  /* .custom-stats-pokedex-gallery {
    display: inline-block;
    --gallery-width: 50%;
    width: var(--gallery-width);
    height: calc(var(--gallery-width) / 1.88);
  } */

  /* .custom-stats-pokedex-gallery .image {
    width: 48px !important;
  } */
}

/* pokeball spin loader */
.ball {
  position: relative;
  margin: auto;
  top: calc(50vh - 100px);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: white;
  box-shadow: -20px 0 rgba(0, 0, 0, 0.1) inset;
  animation: roll 1s ease-in-out infinite;
  background: linear-gradient(to bottom, #e83e35 0%, #e83e35 50.5%, #ffffff 50.51%, #ffffff 100%);
}

.ball:after {
  content: "";
  position: absolute;
  top: calc(100px - 3px);
  left: 0;
  width: 200px;
  height: 6px;
  background: #3f3f3f;
}

.ball:before {
  content: "";
  position: absolute;
  /* top: 67px; */
  /* left: 67px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: solid 6px #3f3f3f;
  border-radius: 50%;
  background: white;
  z-index: 1;
  box-shadow: 0 0 15px -2px #c62828 inset;
  animation: button 3s ease infinite;
}

@keyframes roll {
  from {
    transform: rotate(0);
  }
  90%,
  to {
    transform: rotate(720deg);
  }
}

@keyframes button {
  from,
  50%,
  to {
    box-shadow: 0 0 15px -2px #c62828 inset;
  }

  25%,
  75% {
    box-shadow: 0 0 10px -2px #1300ea inset;
  }
}
